body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    width:1000px;
    margin-left: calc(50% - 500px);
    background-color: antiquewhite;
    margin-top: 100px;
    display: inline-block;
    
}
.container > .left-column{
    width: 50%;
    height: 600px;
    float:left;
    color:#fff;
    background-image: url(../img/main\ image.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.left-column > .logo{
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 10px;
}

.left-column > .bottom-text{
    font-size: 12px;
    font-weight: lighter;
    position: absolute;
    left:10px;
    bottom:10px;
}

.container > .right-column{
    width: 45%;
    float:right;

}

.right-column > h1{

}

.right-column > p{
    
}
.right-column > p > a{
    
}

.right-column > .form{

}

.right-column > .form > .form-row{
    
}

.form > .label{
    
}
.form > .input{
    
}

.right-column > .bottom-p{

}

.right-column > .bottom-links{
    
}
.right-column > .sign-up{

}

